{{ $url := "/data/goodreads.json" }}
{{ $data := getJSON $url }}

<div class="now-boxes">
    <h4>Currently Reading</h4>
    <div class="box">

        {{if ( not $data ) }}
            <p>I'm currently not reading any book.</p>
        {{ else }}
            {{ range getJSON $url }}
            {{ $book := . }}
            <div class="card">
                <div class="imgBx">
                    <img src="{{$book.image_url}}" alt="{{ $book.title }}">
                </div>
                <div class="details">
                    <h4>{{ $book.title }}</h4>
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
</div>