{{ $url := "/data/letterboxd.json" }}
{{ $data := getJSON $url }}

<div class="now-boxes">
    <h2>Movies Watched this month</h2>
    <div class="box">
        {{if ( not $data ) }}
            <p>I am yet to watch a movie this month!!</p>
        {{ else }}
            {{ range getJSON $url }}
                {{ $movie := . }}
                <div class="card">
                    <div class="imgBx">
                        <img src="{{ $movie.image }}" alt="{{ $movie.title }}">
                    </div>
                    <div class="details">
                        <h2>{{ $movie.watched_date }}</h2>
                        <div class="rating-center">
                            <div class="Stars" style="--rating: {{ $movie.rating }};" aria-label="Rating of this book is {{ $movie.rating }} out of 5."></div>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</div>